
{% load static %}

{% block content %}

<div class="container-scroller">
  <div class="main-panel">
    <!-- partial:partials/_navbar.html -->
    <header id="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-top">
            <div class="d-flex justify-content-between align-items-center bg-success">
              <ul class="navbar-top-left-menu">
                <li class="nav-item">
                  <a href="{% static 'pages/index-inner.html' %}" class="nav-link">Advertise</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'upload_advertise' %}" class="nav-link">Put your Advertise</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'about_us' %}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'write_to_us' %}" class="nav-link">Write to Us</a>
                </li>
              </ul>
              <ul class="navbar-top-right-menu">
                <li class="nav-item">
                  <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                </li>
                
                {% if user.id  %}
                <a class="text-white" href=""> welcome {{user.first_name}} </a>
                
                  <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">| Dashboard |</a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'logout' %}" onclick="alert('Are you sure you want to logout')" class="nav-link">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <hr class="" style="border: 2px solid white;">
          <div class="navbar-bottom bg-primary">
            <div class="d-flex justify-content-around align-items-end ">
              <div class="d-flex justify-content-between ">
                
                <!-- <a class="navbar-brand" href="#"
                  ><img src="{% static 'images/logo.svg' %}" alt=""
                /></a> -->
              </div>
              <div>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="navbar-collapse justify-content-end collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-end align-item-end"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    {% if user.id  %}
                    <a class="text-white" href=""> welcome {{user.first_name}} </a>
                    
                    <li class="nav-item">
                      <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a href="{% url 'login' %}" onclick="alert('Are you sure you want to logout')" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'register' %}" class="nav-link">Register</a>
                    </li>

                    {% endif %}
                    {% if user.is_admin %}
                    <li class="nav-item">
                      <a href="{% url 'publish' %}" class="nav-link">Publish News</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'refresh' %}" class="nav-link">Refresh Ads</a>
                    </li>
                    {% endif %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% static 'index.html' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'local_news' %}">Local News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Entertainment">Entertainment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Business">Business</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Sports">Sports</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=General">General</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Health">Health</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Science">Science</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}?category=Science">Technology</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'upload_advertise' %}" class="nav-link">Put your Advertise</a>
                    </li>
                    
                  
                  </ul>
                </div>
              </div>
              <!-- <ul class="social-media">
                <li>
                  <a href="#">
                    <i class="mdi mdi-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-twitter"></i>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="flash-news-banner">
      <div class="container">
        <div class=" align-items-center ">
        <!-- <div class="d-lg-flex align-items-center justify-content-between"> -->
          <div class="col-12 ">
            <div class="row">
              <!-- <div class="col-12 bg-light text-light d-flex justify-content-around collapse "> -->
              <div class="col-12 bg-light text-light d-flex justify-content-around collapse pr-2 pl-2">
                
                  
                <a class="btn btn-alert" href="{% url 'local_news' %}">Local-News</a>
              
                <a class="btn btn-alert" href="{% url 'business' %}?category=Entertainment">Entertainment</a>
              
                <a class="btn btn-alert" href="{% url 'business' %}?category=Business">Business</a>
              
                <a class="btn btn-alert" href="{% url 'business' %}?category=Sports">Sports</a>
              

              </div>
            
              <div class="col-12 bg-light text-light d-flex justify-content-around collapse pr-2 pl-2 ">
                <a class="btn btn-alert" href="{% url 'business' %}?category=General">General</a>
                
                <a class="btn btn-alert" href="{% url 'business' %}?category=Health">Health</a>
              
                <a class="btn btn-alert" href="{% url 'business' %}?category=Science">Science</a>
              
                <a class="btn btn-alert" href="{% url 'business' %}?category=Science">Technology</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- partial -->
    <div class="flash-news-banner">
      <div class="container">
        <div class="row">
          <div class="d-flex align-items-end justify-content-between col-lg-12 col-12">
            <div class="col-4 d-flex justify-content-start">
              <span class="badge badge-dark"><a class="" href="{% url 'local_news' %}">Local News</a></span>
            </div>
            
            <div class="col-4 d-flex justify-content-start pr-3 mr-3">
              <span class="badge badge-dark"><a class="" href="{% url 'view_advertise' %}">View Advertise</a></span> 
            </div>
            <div class="col-4 mr-3 ">
              <span class="badge badge-dark" ass=" text-dark time" id="clock">Wed, March 4, 2020</span>
              <br>
              <!-- <h5 class="text-danger" id="date">Dates</h5> -->
            </div>
          </div>
          
        </div>
      </div>
    </div>
{% endblock %}