
{% extends 'base.html' %}
 
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="col-lg-9 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                        <div class="rotate-img">
                            <img
                            src="{{adv.adv_images}}"
                            alt="thumb"
                            class="img-fluid"
                            />
                        </div>
                        <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                            >{{adv.user.first_name}}</span
                            >
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin">
                        <h2 class="mb-2 font-weight-600">
                        {{adv.adv_heading}}
                        </h2>
                        
                        <p class="mb-0">
                        {{adv.adv_descriptions}}
                        </p>
                        <div class="fs-13 mb-2">
                            <span class="mr-2">Start Date </span>{{adv.adv_start_date}}
                            <br>
                            <span class="mr-2">End Date </span>{{adv.adv_end_date}}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}