<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <body>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Time</title>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
    
    <link rel="stylesheet" href="{% static 'vendors/aos/dist/aos.css/aos.css' %}" />

    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/js.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

    <!-- register -->
    <!-- Bootstrap4 files-->
    <!-- <script src="{% static 'https://code.jquery.com/jquery-3.6.0.min.js' %}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->

  </head>

  {% include 'includes/navbar.html' %}

  {% block content %}


  {% endblock %}
    <!-- inject:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'vendors/aos/dist/aos.js/aos.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/jquery.easeScroll.js' %}"></script>
    <!-- End custom js for this page-->

  <!-- Register form -->

  <script type="text/javascript">
    /// some script
    
    // jquery ready start
    $(document).ready(function() {
      // jQuery code
      var drop = document.getElementById('drop-p')
      var readmore = document.getElementById('btn-p')
      readmore.onclick = function() {
        if (drop.style.display === 'none'){
        drop.style.display = 'inline'
        readmore.innerText = "Read Less"
        console.log("more")
        
        } else {
          drop.style.display = 'none'
          readmore.innerText = "Read More"
          console.log("less")
        };

      }; 

      
      // World Clock
      let clock = () => {
        let date = new Date();
        let hrs = date.getHours();
        let mint = date.getMinutes();
        let sec = date.getSeconds();
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        
        day = day<10 ? 0 + day : day;
        month = month<10 ? 0 + month : month;
        let period = 'AM'
        if (hrs == 0) hrs =12
    
        if (hrs > 12) {
          hrs = hrs - 12
          period = 'PM'
        }
        hrs = hrs < 10 ? 0 + hrs : hrs;
        mint = mint < 10 ? 0 + mint : mint;
        sec = sec < 10 ? 0 + sec : sec;

        let time = `${hrs}:${mint}:${sec}:${period}`
        let data = `${day}:${month}:${year}`
        document.getElementById('clock').innerText = time 
        setInterval(clock, 1000)
      }
      clock()

      document.getElementById("hide").onclick = function() {
        document.getElementById("message").style.display="none";
        console.log("hi")
        };
      setTimeout(function() {
        document.getElementById("message").style.display="none"
      }, 6000)


      $("#hide").click(function(){
        $(this).hide();
        console.log("hide")
      });
      

    })
    $("#hide").click(function(){
      $(this).hide();
      console.log("hide")
    });

    var productForm = $('.form-product-ajax')
    productForm.submit(function(event){
      event.preventDefualt();
      console.log("submit")
    })

    
    document.getElementsByClassName("ajax").addEventListener("click", function(event){
      event.preventDefault()
    });



    



    




  
    
    
    

    // jquery end
    </script>

  {% include 'includes/footer.html' %}


  </body>

</html>

