{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="content-wrapper">
          <div class="container">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-8 stretch-card grid-margin">
                <div class="position-relative">
                  <img
                    src="{% static 'images/dashboard/banner.jpg' %}"
                    alt="banner"
                    class="img-fluid"
                  />
                  <div class="banner-content">
                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                      global news
                    </div>
                    <h1 class="mb-0">GLOBAL PANDEMIC</h1>
                    <h1 class="mb-2">
                      
                    </h1>
                    <div class="fs-12">
                      <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xl-4 stretch-card grid-margin">
                
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h2>Latest news</h2>
                    {% for top in top_headline %}
                    <div
                      class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
                    >
                      <div class="pr-3">
                        
                        
                        <a href="{{ top.url }}"><h5>{{top.title}}</h5></a>
                        <div class="fs-12">
                          <span class="mr-2">Published On </span> {{top.publishedAt}}
                        </div>
                      </div>
                      <div class="rotate-img">
                        <img
                          src="{{top.urlToImage}}"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                        
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                
              </div>
              
            <div class="row" data-aos="fade-up">
              <div class="col-lg-4 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                      <!-- Advertise -->
                    <h2>Advertise</h2>
                    <ul class="vertical-menu">
                      {% for a in ads %}
                      <div
                    class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
                  >
                  
                    <div class="pr-3">
                      <h5>{{a.adv_heading}}</h5>
                      <div class="fs-12">
                        <span class="mr-2"> </span>10 Minutes ago
                      </div>
                        </div>
                        <div class="rotate-img">
                          <img
                            src="{{a.adv_images}}"
                            alt="thumb"
                            class="img-fluid img-lg"
                          />
                        </div>
                        
                      </div>
                      {% endfor %}
                    <!-- end of advertise -->
                    </ul>
                  </div>
                </div>
              </div>

              
              
              <div class="col-lg-8 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    {% for i in article %}
                    <div class="row">
                      <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <a href="{{i.url}}">
                            <img
                              src="{{i.urlToImage}}"
                              alt="thumb"
                              class="img-fluid"
                            />
                            </a>
                          </div>
                          <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                              >{{i.source.name}}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8  grid-margin">
                        <a href="{{i.url}}" class="text-dark" style="text-decoration: none;">
                        <h2 class="mb-2 font-weight-600">
                          {{i.title}}
                        </h2>
                        </a>
                        <div class="fs-13 mb-2">
                          <span class="mr-2">Plublish at </span>{{i.publishedAt}}
                        </div>
                        <p class="mb-0">
                          {{i.description}}
                        </p>
                        <div class="jq-expand-buttton">
                          <p class="drop-p" id="drop-p" style="display: none;">{{i.content}}</p>
                          <br>
                          <button class="btn btn-danger" id="btn-p">Read More</button>
                          
                        </div>
                      </div>
                    </div>
                    <hr style="border: 3px solid black;">
                    
                    

                    {% endfor %}
                    <br>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="form form-control text-center pb-3 mb-2 " style="height:60px; ">
              <div class="">
                <form action="{% url 'email_list_signup' %}" method="POST">
                  {% csrf_token %}
                  <!-- <label class="btn btn-dark" for="">Enter Email</label> -->
                  <!-- <input type="email" placeholder="Email" name="email"> -->
                  {{form}}
                  <input type="submit" value="Subscribe"> 
                </form>
                
              </div>
            </div>


    {% endblock %}