{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="content-wrapper">
          <div class="container">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-12 stretch-card grid-margin">
                <div class="card bg-dark text-white">
                  <div class="text-center">
                    <h2>Publish Your News</h2>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'publish' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="">
                      
                        <label for="">Post Name</label>
                        {{form.post_name}}
                        <label for="">Category</label>
                        {{form.category}}
                        <br>
                        <label for="">Topic</label>
                        {{form.heading}}
                        <label for="">Descriptions</label>
                        {{form.description}}
                        <br>
                      
                        <label for="">Start Date</label>
                        {{form.published_date}}
                        <label for="">Photo</label> <br>
                        {{form.images}}
                        <br>
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>




             <!-- View advertise -->
          <div class="content-wrapper">
            <div class="container">
                <div class="col-lg-12        stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                              {% for p in post %}
                            <div class="col-sm-4 grid-margin">
                                <div class="position-relative">
                                <div class="">
                                    <img
                                    src="{{p.images.url}}"
                                    alt="thumb"
                                    class="img-fluid"
                                    />
                                </div>
                                <div class="badge-positioned">
                                    <span class="badge badge-danger font-weight-bold"
                                    >Flash news</span
                                    >
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-8  grid-margin">
                                <h2 class="mb-2 font-weight-600">
                                {{p.heading}}
                                {{p.id}}
                                </h2>
                                <div class="fs-13 mb-2">
                                </div>
                                <p class="mb-0">
                                {{p.description}}
                                </p>
                                <p>Start Date: {{p.published_date}} </p>
                            </div>
                            <div>
                                <a href="{% url 'edit_publish' p.id %}" class="btn btn-primary" style="font-size: 20px;">Edit</a>
                                <a href="{% url 'delete_publish' p.id %}" class="btn btn-primary" style="font-size: 20px;">Delete</a>
                            </div>
                            <hr style="width: 100%; border: 3px solid black">

                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}